name: Build Test
on:
  push:
  pull_request:
jobs:
  Build-for-Linux:
    timeout-minutes: 2
    permissions:
      statuses: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        submodules: recursive
#    - name: Install more dependencies
#      run: |
#        sudo apt-get install -y \
#          make \
#          build-essential
    - name: Build
      run: sudo make clean testlocal

